@import "tailwindcss";

@theme {
  --font-sans: var(--font-outfit), ui-sans-serif, system-ui, sans-serif;
}

:root {
  --background: #121212;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-outfit), sans-serif;
  overflow-x: hidden;
  /* Prevent horizontal scrollbar */
}